[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pre-commit = "*"
black = "*"
ebaysdk = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "pylint src tests ./main.py "
format = "black ."
test = "pytest"
